/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
     font-family: 'Montserrat', sans-serif ;
     font-size: 100%;
     background-color: black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* common */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

a:hover {
    color: white;
}

img {
    width: 100%;
} 

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* main */

main {
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
  
}

.logo-mobile {
    display: none;
}

.logo img{
    width: 70%;
    margin-bottom: 0.8em;
    margin-left: 0.8em;
}

.logo-mobile img {
    width: 30px;
    }

.sidebar {
    float: left;
    width: 200px;
    height: 100%;
}

/* sidebar-top */
.sidebar-top {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    min-height: 350px;
}

.logo {
  padding: 20px 10px 5px;
}



.menu {
    height: 150px;
    background-color: black;
}

.menu-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
}

.border-green-sidebar {
    border-left: 5px solid transparent;
}

.border-green-sidebar:hover {
    border-left: 5px solid #91df1c;
}


.icon-size-sidebar {
    width: 30px;
    margin-left: 0.5em;
}

.text-sidebar {
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.2em;
    color:#808080 ;
}

.list-menu a:hover{
    color: white;
}

.icon-size-sidebar:hover {
    color: white;
}

/* SECTION PLAYLIST */

.playlist {
    height: calc(100% - 230px);
    overflow-y: auto;
    background-color: black;
}

.playlist-list {
    overflow-y: auto;
    margin-left: 0.5em;
}

.add-playlist {
    margin: 1.3em 0;
}

.add-new:hover #icon-plus {
    background-color: white;
    color: black;
}

.add-new:hover .text-add-new {
    color: white;
}

#icon-plus {
    font-size: 1.5em;
    padding: .4em .5em;
    margin-right: .3em;
    background-color: #a5a5a5;
    margin-left: 0.5em;
}

.playlist-title {
    font-weight: 700;
    color: white;
    margin-left: 0.5em;
}

.text-playlist {
    font-weight: bold;
    color:#a5a5a5;
}

.text-add-new {
    font-size: large;
    color: #a5a5a5;
    font-weight: bold;
}


li {
    margin: 1.3em 0;
}

/* sider bottom */

.sidebar-bottom {
    height: 80px;
}

.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .4em 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #6a6a6a;
}

.app img {
    width: 20px;
    margin-right: .5em;
}

.user-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    color: white;
    margin: 0.5em 0.5em;
}

.user-name img{
    width: 20px;
    border-radius: 50%;
    margin-right: 0.5em;
    background-color: grey;
}

/* content */
.content {
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    padding: 120px 20px 20px;
    overflow-y: auto;
    background-color: #23272f;
}

.main-nav {
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100%;
}

.main-nav a {
    margin: 1em;
}

.border-green-main {
    border-bottom: 5px solid transparent;
}

.border-green-main:hover {
    border-bottom: 5px solid #91df1c;
}

 .content-cta {
    position: fixed;
    top: 0;
    right: 20px;
    width: calc(100% - 220px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: end;
    align-items: center;
}


.upgrade-btn a {
    border: 2px solid #a3a2a5;
    border-radius: 50px;
    padding: 15px 45px;
    margin-right: 25px;
    font-weight: 600;
    font-size: .9em;
    color: white;
}

.upgrade-btn:hover {
    transform: scale(1.1);
}
/* albums */

/* 1 row */
.title-albums {
    color: white;
    font-weight: 600;
    padding-bottom: 10px; 
    padding-top: 45px;

}

.recently-t {
    padding-bottom: 20px;
}


 .title-song { 
    font-weight: 700;
    color: white;
    margin-top: 1rem;
    text-align: center;
}

.tx-song {
    text-align: center;
    margin-top: 0.5rem;
}

.albums {
    display: flex;
    flex-wrap: wrap;
}

.albums-card {
    width: calc(100% / 6 - 15px);
    margin-right: 15px;
}

.img-song {
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    /* display: none; */
}

   /* .i-play { 
    display: none;
}      */

.overlay:hover {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 100%;
    justify-content: space-around;
    align-items: center;
    color: white;
    display: flex;
}

 /* .i-play:hover {
    display: flex;
    justify-content: space-around;
    align-items: center;
}   */

/* 2 row */

.tx-descr {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.albums-created {
    width: calc(33% / 2 - 15px);
    margin-right: 15px;
}

/* 3 row */

.a-radius img {
    border-radius: 50%;
}

/* footer */
footer {
    width: 100%;
    height: 100px;
    /* test */
    background-color: #313131;
}

.player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/* album */

.album {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1em;
    width: 250px;
}

.album img{
    width: 50px;
}

.album i {
    font-size: 25px;
    color: #8d8d8d;
}

.current-name {
    font-weight: 700;
    color: white;
}

.current-sub {
    font-size: small;
    font-weight: 700;
    color: #6a6a6a;
}

.icon {
    display: flex;
    align-items: center;
    width: 15%;
}

.icon i {
    margin-right: .5em;
}

.icon i:hover {
    color: white;
}

/* /album */


/* controls */
.controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
}
.icon-music-bar {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1em;
}

.icon-music-bar i {
    font-size: 20px;
    color: white;
}

#play i{
    font-size: 35px;
}

#play i:hover {
    transform: scale(1.1);
}

.time {
    font-size: small;
    font-weight: 700;
    color: white;
}

.progress {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 25px;

}

#progress-bar {
    position: relative;
    display: inline-block;
    margin: 0 1em;
    width: 80%;
    height: 6px;
    border: 1px solid #5f5f5f;
    background-color: #5f5f5f;
    border-radius: 5px;
}

#progress-bar:hover .music-bar-progress{
    border: #91df1c;
    background-color: #91df1c;
}

.range {
    display: none;
    position: absolute;
    top: -6px;
    left: 18%;
    border: 8px solid white;
    background-color: white;
    border-radius: 50%;
}

#progress-bar:hover .range{
    display: inline-block;
}

.music-bar-progress {
    position: absolute;
    top: -1px;
    left: -17px;
    margin: 0 1em;
    width: 20%;
    height: 6px;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
    border-radius: 5px;
}

/* /controls */

/* audio */

.audio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 100px;
    color: white;
}

#volume-bar {
    position: relative;
    display: inline-block;
    margin: 0 1em;
    width: 120px;
    height: 6px;
    border: 1px solid #5f5f5f;
    background-color: #5f5f5f;
    border-radius: 5px;
}

.volume-progress {
    position: absolute;
    top: -1px;
    left: -16px;
    margin: 0 1em;
    width: 30px;
    height: 6px;
    border: 1px solid #c4c4c4;
    background-color: #c4c4c4;
    border-radius: 5px;
}

#volume-bar:hover .volume-progress{
    border: #91df1c;
    background-color: #91df1c;
}

.volume {
    display: flex;
    align-items: center;
}

.range-vol {
    display: none;
    position: absolute;
    top: -6px;
    left: 20px;
    border: 8px solid white;
    background-color: white;
    border-radius: 50%;
}

#volume-bar:hover .range-vol {
    display: inline-block;
}
/* /audio */


/* media screen */
@media screen and (max-width:600px) {
    .logo{
        display: none;
    }
}

@media screen and (max-width: 600px) {
     .logo-mobile {
    display: block;
    text-align: center;
    padding: 12px 0 8px;
    } 
}

@media screen and (max-width:600px) {
    .sidebar{
    width: 80px;
    }
}

@media screen and (max-width: 600px) {

    .list-menu {
        text-align: center;
    }

    .list-menu a {
        border: 0;
    }

    .list-menu span {
        display: none;
    }
}


@media screen and (max-width: 600px) {
    .playlist {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .albums-card {
        width: calc(100% / 4 - 15px);
    }
}

@media screen and (max-width: 600px) {
    .app span,
    .user-name span,
    .app {
        display: none;
    }
}

@media  screen and (max-width: 600px) {
    .content {
        width: calc(100% - 80px);
    }

    .content-cta {
        width: calc(100% - 80px);
    }
}
