/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
     font-family: 'Montserrat', sans-serif ;
     font-size: 100%;
     background-color: black;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* common */
a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

a:hover {
    color: white;
}

img {
    width: 100%;
} 

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* main */

main {
    display: flex;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden;
  
}

.logo img{
    width: 70%;
    margin-bottom: 0.8em;
    margin-left: 0.8em;
}

@media screen and (max-width:600px) {
    .logo{
        display: none;
    }

    .logo-mobile {
        display: inline-block;
        text-align: center;
        padding: 5px 0 16px;
    }
    
    .logo-mobile img {
        width: 55%;
    }
}

.sidebar {
    float: left;
    width: 200px;
    height: 100%;
}

@media screen and (max-width:600px) {
    .sidebar{
    width: 80px;
    }
}

/* sidebar-top */
.sidebar-top {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    min-height: 350px;
}

.logo {
  padding: 20px 10px 5px;
}

.logo-mobile {
    display: none;
}

.menu {
    height: 150px;
    background-color: black;
}

.menu-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
}

.border-green-sidebar {
    border-left: 5px solid transparent;
}

.border-green-sidebar:hover {
    border-left: 5px solid #91df1c;
}


.icon-size-sidebar {
    width: 30px;
    margin-left: 0.5em;
}

.text-sidebar {
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.2em;
    color:#808080 ;
}

.text-sidebar:hover {
    color: white;
}

/* SECTION PLAYLIST */

.playlist {
    height: calc(100% - 230px);
    overflow-y: auto;
    background-color: black;
}

.playlist-list {
    overflow-y: auto;
    margin-left: 0.5em;
}

.add-playlist {
    margin: 1.3em 0;
}

.add-new:hover #icon-plus {
    background-color: white;
    color: black;
}

.add-new:hover .text-add-new {
    color: white;
}

#icon-plus {
    font-size: 1.5em;
    padding: .4em .5em;
    margin-right: .3em;
    background-color: #a5a5a5;
    margin-left: 0.5em;
}

.playlist-title {
    font-weight: 700;
    color: white;
    margin-left: 0.5em;
}

.text-playlist {
    font-weight: bold;
    color:#a5a5a5;
}

.text-add-new {
    font-size: large;
    color: #a5a5a5;
    font-weight: bold;
}


li {
    margin: 1.3em 0;
}

/* sider bottom */

.sidebar-bottom {
    height: 80px;
}

.app {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .4em 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #6a6a6a;
}

.app img {
    width: 20px;
    margin-right: .5em;
}

.user-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    color: white;
    margin: 0.5em 0.5em;
}

.user-name img{
    width: 20px;
    border-radius: 50%;
    margin-right: 0.5em;
    background-color: grey;
}

/* content */
.content {
    float: left;
    width: calc(100% - 200px);
    height: 100%;
    padding: 120px 20px 20px;
    overflow-y: auto;
    background-color: #23272f;
}

.main-nav {
        margin: auto;
        display: flex;
        justify-content: center;
        width: 100%;
}

.main-nav a {
    margin: 1em;
}

.border-green-main {
    border-bottom: 5px solid transparent;
}

.border-green-main:hover {
    border-bottom: 5px solid #91df1c;
}

 .content-cta {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: end;
    align-items: center;
}

@media  screen and (max-width: 600px) {
    .content {
        width: calc(100% - 80px);
    }

    .content-cta {
        width: calc(100% - 80px);
    }
}

.upgrade-btn a {
    border: 2px solid #a3a2a5;
    border-radius: 50px;
    padding: 15px 45px;
    margin-right: 25px;
    font-weight: 600;
    font-size: .9em;
    color: white;
}

.upgrade-btn:hover {
    transform: scale(1.1);
}
/* albums */

/* 1 row */
.title-albums {
    color: white;
    font-weight: 600;
    padding-bottom: 10px; 
    padding-top: 45px;

}

.recently-t {
    padding-bottom: 20px;
}


 .title-song { 
    font-weight: 700;
    color: white;
    margin-top: 1rem;
    text-align: center;
}

.tx-song {
    text-align: center;
    margin-top: 0.5rem;
}

.albums {
    display: flex;
    flex-wrap: wrap;
}

.albums-card {
    width: calc(100% / 6 - 15px);
    margin-right: 15px;
}


@media screen and (max-width: 1100px) {
    .albums-card {
        width: calc(100% / 4 - 15px);
    }
}

/* 2 row */

.tx-descr {
    padding-top: 0.5rem;
    padding-bottom: 2rem;
}

.albums-created {
    width: calc(33% / 2 - 15px);
    margin-right: 15px;
}

/* 3 row */

.a-radius img {
    border-radius: 50%;
}

/* footer */
footer {
    width: 100%;
    height: 100px;
    /* test */
    background-color: blue;
}

.player {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%
}
